<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
	  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
	  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
	  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
	  <property name="hibernate.connection.username">system</property>
	  <property name="hibernate.connection.password">system</property>
	  
	  <property name="hibernate.hbm2ddl.auto">create-drop</property>
	   <property name="hibernate.show_sql">true</property>
	   <!-- property name="hibernate.current_session_context_class">thread</property>-->
	   
  
   <mapping class="com.demo.manytoone.StudentDemo"/>
   <mapping class="com.demo.manytoone.University"/>

</session-factory>
</hibernate-configuration>